<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Saludo</servlet-name>
        <servlet-class>fundamentos.ServletHolaMundo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRecibeDatos</servlet-name>
        <servlet-class>fundamentos.ServletRecibeDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificaLogin</servlet-name>
        <servlet-class>fundamentos.ServletVerificaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginOK</servlet-name>
        <servlet-class>fundamentos.ServletLoginOK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginNOK</servlet-name>
        <servlet-class>fundamentos.ServletLoginNOK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControladorFilm</servlet-name>
        <servlet-class>controlador.ServletControladorFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIngresoExitoso</servlet-name>
        <servlet-class>vista.ServletIngresoExitoso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDatosErroneos</servlet-name>
        <servlet-class>vista.ServletDatosErroneos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Saludo</servlet-name>
        <url-pattern>/HolaMundo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRecibeDatos</servlet-name>
        <url-pattern>/ServletRecibeDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificaLogin</servlet-name>
        <url-pattern>/VerificaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginOK</servlet-name>
        <url-pattern>/LoginOK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginNOK</servlet-name>
        <url-pattern>/LoginNOK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControladorFilm</servlet-name>
        <url-pattern>/scf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIngresoExitoso</servlet-name>
        <url-pattern>/IngresoExitoso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDatosErroneos</servlet-name>
        <url-pattern>/DatosErroneos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
